.contrib-card-report{
    border-style: solid;
    borrder-color: rgba(55,55,55,0.5);
    align-content: center;
    padding: 5px;

}
.image1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image2{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    text-align: justify;
    text-justify: inter-word;
}