/*----------------------
Dashboard Navbar Styles
 ----------------------*/


.brand{
    cursor: pointer;
}

.brand:hover{
    cursor: pointer !important;
}


.brand-logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
navbar{
    height: fit-content;
}